body {
  display: block;
  margin: 10px auto;
  min-width: 200px;
	text-align: center;
	color: hsl(0, 0%, 100%);
  width: auto;
  text-align: center;
  border-radius: 4px;
  background-color: hsla(0, 0%, 0%, 0.95) !important;
  border-color: hsl(225, 10%, 8%) !important;
}
#let{
display: block;
color: hsl(0, 0%, 100%);
font-family: 'Over the Rainbow', cursive;
font-size: 25px;
}
button, .button{
  box-shadow: 0 0 20px #055da2;
      border: 1px solid #1689ff;
      width: 100%;
}
.button.secondary {
    background-color: hsla(188, 100%, 50%, 0.16) !important;
}
h3{
  font-family: 'Over the Rainbow', cursive;

  color: hsl(234, 13%, 69%);
  font-family: 'Montserrat', sans-serif;
}
.aa{
    margin: 10px auto;
    border: 0;
    color: rgb(255, 255, 255);
    font-size: 14px !important;
    width: 100%;
    height: auto;
    font-weight: normal;
    padding: 0.5em;
    text-align: center;
    font-family: 'Over the Rainbow', cursive;
}
.aaa{
  white-space: pre-wrap;
  display: block;
  text-align: left;
  word-wrap: break-word
  background-color: hsl(225, 6%, 13%);
}
hr.style1{
	border-top: 1px solid #fff;
}
.form-control {
    color: #fdfeff;
    background-color: #171717;
}
.btn-outline-secondary:hover {
    color: #efefef;
    background-color: #3503ff;
    border-color: #fbfbfb;
}
